.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  border-bottom: 1px solid rgb(224, 224, 224);

  .header-container__inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-container__logo {
    margin-right: 100px;
  }

  .header-container__icon {
    width: 35px;
    height: 35px;
    margin-right: 50px;
  }

  .header-container__profile_icon {
    width: 35px;
    height: 35px;
  }

  .header-container__link:hover {
    font-weight: bolder;
    color: #204079;
    border-bottom: 3px solid #204079;
  }

  button {
    margin-right: 50px;
  }
}
