.progress {
  background-color: #ebebeb;
  border-radius: 20px;
  height: 20px;
  color: #dddddd;
  width: 300px;
  margin: 20px 0px;

  .progress-done {
    background-color: #40a9ff;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 1;
    width: 0;
    transition: 1s ease 0.3s;
  }
}
